{% extends 'base.html' %}
{%block title%}Why Us? | Tej Tutorials {%endblock title%}
{%block body %}
<main>
    <div class="container">
        <h1 class="whcytt">Why Choose Tej Tutorials</h1>
        <p class="typewriter">Precision learning, Proven Results !</p>
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Your Path to Academic Excellence</h1>
                <p class="wwhyus col-md-8 fs-4">
                    Our Vision:-
                    <ul>
                        <li>To support students in reaching their full potential through engaging, effective method.</li>
                        <li>To deliver personalised learning experiences, tailored to individual needs.</li>
                        <li>To foster a love of learning, promoting intellectual growth and personal development.</li>
                    </ul>
                    At Tej Tutorials, we believe in nurturing young minds and empowering them to achieve their full potential. Our
                    commitment to quality education and personalized guidance sets us apart.
                    <br><br>
                    <b>
                        Why Choose Tej Tutorials?</b>
                        <ul>
                            <li>Experienced teachers</li>
                            <li>Personalized attention</li>
                            <li>Regular assessments</li>
                            <li>Mock tests</li>
                            <li>Supportive environment</li>
                            <li>Flexible learning options></li>
                            <li>Comprehensive curriculum</li>
                            <li>Effective study materials</li>
                        </ul>

                    
                    
                    
                    
                    
                    
                    
                    
                    
                </p>

                
                <button class="btn btn-primary btn-lg" type="button"><a style="color:white; text-decoration: none;" href="/connect">Join now</a></button>
            </div>
        </div>
        <hr class="featurette-divider">
        
            <div class="row">
                <!-- <h1 class="testimonhead" style="margin-top: 20px; margin-bottom: 20px;">Results</h1> -->
                <h1 class="testimonhead" >Results</h1>
                <!-- <p>{{ result }}</p> -->
                {% for r in result %}
                <div class="col-lg-4">
                    <img class="centerimg" style="width:200px;" src="{{ r.imglink }}" alt="">
                    <!-- <svg class="bd-placeholder-img rounded-circle centerimg" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
                    </svg> -->
                    <h3 style="text-align: center;"class="fw-normal">{{ r.name }} {{ r.percentage }}%({{ r.batch }})</h3>
                    <p style="text-align: center;">{{ r.description }}</p>
                    <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
                </div>
                {% endfor %}
                <h4 style="padding:20px" class="adas"> <a href="/static/rankers.xlsx">Download the entire list of toppers we created</a></h4>
        
            </div>
        <hr class="featurette-divider">
        <h1>FAQ`s</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        What are your timings?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">No fixed timings yet, we update the timetable on whatsapp accordingly.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Can I join mid-semester?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes,Sure. We would try our best to help you</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Will I get a refund if I am not satisfied with the teaching?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes you may,if it under our policy.</div>
                </div>
            </div>
        </div>
        
        <hr class="featurette-divider">
    </div>
        

</main>
{%endblock body %}